
<nav>
<%# logo of the recipe app %>
<div id="logo"><a class="nav-link" href="#">Recipe <br> App</a></div>
<ul id="menu">
<li><%= link_to 'Food List' , user_foods_path(current_user.id)%></li>

<a class="nav-link" href="#"><li>My Recipes</li></a>
<a class="nav-link" href="#"><li>Public Recipes</li></a>
<a class="nav-link" href="#"><li>Shopping List</li></a>
<a class="nav-link" href="#"><li>Add Food</li></a>
<a class="nav-link" href="#"><li>Add Recipe</li></a>
<a class="nav-link" href="#"><li>Log out</li></a>

</ul>
</nav>