
<nav>
<%# logo of the recipe app %>
<div id="logo">Recipe <br> App</div>
<ul id="menu">
<li>Food List</li>
<li>My Recipes</li>
<li>Public Recipes</li>
<li>Shopping List</li>
<li>Add Food</li>
<li>Add Recipe</li>
<li>Log out</li>

</ul>
</nav>