.foods-list{
    margin-top: 66px;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 71%;
}

th,
td {
  padding: 15px;
}

th {
  background-color: #3a3c37;
  color: #fff;
}

table button {
    background-color: #5c7c23;
    padding: 5px;
    border: aliceblue;
    color: #fff;
    border-radius: 10px;
    width: 64px;
}

.new-food{
    float: right;
    background-color: #5c7c23;
    border: aliceblue;
    color: #fff;
    padding: 17px;
    border-radius: 10px;
    margin-right: 47px;
    margin-top: 32px;
}