.foods-list {
  margin-top: 66px;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 71%;
}

th,
td {
  padding: 15px;
}

th {
  background-color: #3a3c37;
  color: #fff;
}

table button {
  background-color: #5c7c23;
  padding: 5px;
  border: aliceblue;
  color: #fff;
  border-radius: 10px;
  width: 64px;
}

.new-food {
  float: right;
  background-color: #5c7c23;
  border: aliceblue;
  color: #fff;
  padding: 17px;
  border-radius: 10px;
  margin-right: 47px;
  margin-top: 32px;
}

.form-content {
  margin-top: 54px;
}

.food-form {
  width: 301px;
  margin: auto;
  padding: 29px;
  border-radius: 9px;
  border: 1px solid #fff;
  box-shadow: 0 4px 8px 0 rgb(122 160 54 / 87%);
  background-color: #fff;
  height: 466px;
}

.food-form input {
  padding: 5px;
  width: 258px;
  border: none;
  border-bottom: 2px solid #7aa03696;
  margin-bottom: 18px;
  margin-top: 6px;
}

.food-form h2 {
  text-align: center;
  color: #6ba307;
  margin-bottom: 18px;
}

.actions input {
  background-color: #7aa036;
  width: 74px;
  color: #fff;
  border-radius: 3px;
  padding: 10px;
}

.form-field {
  margin-bottom: 13px;
}
