.card {
    box-shadow: 0 4px 8px 0 rgb(122 160 54 / 87%);
    transition: 0.3s;
    width: 50%;
    margin: auto;
    margin-bottom: 38px;
    padding: 33px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }