#new-recipe form {
  width: 301px;
  margin: auto;
  padding: 29px;
  border-radius: 9px;
  border: 1px solid #fff;
  box-shadow: 0 4px 8px 0 rgb(122 160 54 / 87%);
  background-color: #fff;
  height: 466px;
}

#new-recipe form input {
  padding: 5px;
  width: 258px;
  border: none;
  border-bottom: 2px solid #7aa03696;
  margin-bottom: 18px;
  margin-top: 6px;
}

#new-recipe form textarea {
  padding: 5px;
  width: 258px;
  border: none;
  border-bottom: 2px solid #7aa03696;
  margin-bottom: 18px;
  margin-top: 6px;

}

#public-check {
  display: flex;
  width: 100px;
}

#public-check label {
  width: 60px;
}
